<template name="HomeLayout">
  {{> header}}
  <section class="billboard">




      <div class="container">
        <div class="row">
          <div class="twelve columns">

            <div class="intro-text">
              <span class="slogan">Know Yourself.</span>
              <span class="sub">Experience the magic of freewriting. <br/> Write every day, without stopping to judge or edit.</span>
            </div>
            <div class="ten columns offset-by-one">
            <img style="box-shadow: 0 1px 2px rgba(0,0,0,0.25); border-radius:4px;" class="u-max-full-width" src="demo.gif">
          </div>
          </div>
        </div>
      </div>
    </section>


  <div class="landing-info">
    <section id="why">
      <div class="container">
        <div class="row">
          <div class="twelve columns text-center">
            <div class="" style=" margin: 0 auto 0 auto;">
            <a class="button button-primary" style="margin:20px;" href="/signup">Sign up, it's free!</a>
          </div>
            <h3>Why?</h3>
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="eight columns offset-by-two">
            <img style="float:left; margin-right: 30px;" src="badges/jung.png" class="badge128">
            <h4>Get unstuck</h4>
            <p>Freewriting can help you get past blocks & gain new insights.</p>
          </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
          <div class="eight columns offset-by-two">
            <img src="badges/watts.png" style="float:left; margin-right:30px;" class="badge128">
            <h4>Clear your mind</h4>
            <p>Freewriting allows you to dump thoughts and get them out of your mind.</p>
          </div>
        </div>


        <div class="row" style="margin-bottom: 20px;">
          <div class="eight columns offset-by-two">
            <img src="badges/dali.png" style="float:left; margin-right:30px;" class="badge128">
            <h4>Exercise your creativity</h4>
            <p>Explore ideas, thoughts and feelings, and become a better writer in the process.</p>
          </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
          <div class="eight columns offset-by-two">
            <img src="badges/nietzsche.png" style="float:left; margin-right:30px;" class="badge128">
            <h4>A cornerstone habit</h4>
            <p>Stay on track by keeping in contact with yourself, your values and priorites.</p>
          </div>
        </div>
      </div>
    </section>


  <section id="how">
    <div class="container">
      <div class="row">
        <div class="eight columns offset-by-two text-center">
          <h3>How?</h3>
        </div>
      </div>
      <div class="row">
        <div class="eight columns offset-by-two">
          <h4>Just write whatever comes to mind without stopping to judge, correct or edit.</h4>
          <p>It was Julia Cameron who first popularized the practice of morning pages, three pages of whatever crosses your mind, in <a href="https://www.amazon.com/Artists-Way-Julia-Cameron/dp/1585421464" target="_blank">The Artist's Way: A Spiritual Path to Higher Creativity</a>. It is simple, just write whatever crosses your mind without stopping to judge, correct or edit.</p>
          <h4>Set a daily goal and write every day.</h4>
          <p>You choose your own goal. Julia Cameron recommended three pages which roughly translates to 750 words. We recommend at least 500 words as a daily goal.</p>
          <h4>Nothing is saved.</h4>
          <p>When you click <button style="margin-top:0px;margin-bottom:0px;" class="button-clear-copy">Let it go</button>, only the amount of words you wrote is saved. What you write never touches our server or database, giving you complete privacy and a safe space for your thoughts.<br/><br/>You do have the option to save as .txt and copy to clipboard, even though we recommend to just let go of it.</p>
          <p style="text-align:center; margin-top:80px;margin-bottom:80px;">More questions? <a style="font-weight:500;" href="/faq">Visit the FAQ.</a></p>
        </div>
      </div>
    </div>
  </section>

  <section id="pricing">
    <div class="container">
      <div class="row">
        <div style="margin-bottom:50px;" class="eight columns offset-by-two text-center padder">
          <h4>Sign up now.</h4>
          <br/>
          <a class="button button-darker" href="/signup">Yes please</a>
          <br />
          <br />
          <a href="https://www.facebook.com/freewriteorg/" target="_blank"><i class="fa fa-facebook fa-lg"></i></a> <a style="margin-left:10px;" href="https://twitter.com/freewriterIO" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <br />
          <br />
          <p style="font-size:13px; letter-spacing:1px; text-transform:uppercase;color:#1b186c;">Made by <a style="color:#1b186c;" href="https://twitter.com/gustavlrsn" target="_blank">@gustavlrsn</a></p>
        </div>
      </div>
    </div>
  </section>
  </div>
</template>
